@model FoodForHome.Web.ViewModels.Dishes.CreateDishInputModel
@{
    ViewData["Title"] = "Create new dish";
}

<link href="~/css/dishPage.css" rel="stylesheet" />

<h2>@ViewData["Title"]</h2>
<form method="post" class="row g-3 box-shadow" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger col-12"></div>
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Dish Name<span class="text-danger">*</span></label>
        <input asp-for="Name" class="form-control" id="dishName">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Gram" class="form-label">Gram<span class="text-danger">*</span></label>
        <input asp-for="Gram" class="form-control" id="gram">
        <span asp-validation-for="Gram" class="text-danger"></span>
    </div>
    <div id="ingredients" class="input-group col-12">
        <div class="input-group-prepend">
            <label asp-for="Ingredients" class="input-group-text" id="more-ingredients" onclick="AddMoreIngredients()">Ingredients</label>
        </div>
        <input type="text" name="Ingredients[0].Name" class="form-control">
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <div class="col-12 img-url">
        <label asp-for="ImageUrl" class="form-label">Image Url</label>
        <input asp-for="ImageUrl" class="form-control" id="imageUrl" placeholder="https://images.app.goo.gl/Dny27U559eczBdLN8">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="CategoryId" class="form-label">Category<span class="text-danger">*</span></label>
        <select asp-for="CategoryId" asp-items="Model.Categories" id="caregory" class="form-select">
        </select>
    </div>
    <div class="col-md-3">
        <label asp-for="Price" class="form-label">Price<span class="text-danger">*</span></label>
        <input type="number" asp-for="Price" class="form-control" id="price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Images" class="form-label">Images</label>
        <input asp-for="Images" class="form-control" id="images">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary button">Create Dish</button>
    </div>
</form>

@section Scripts {
    <script>
        var ingredientIndex = 1;
        function AddMoreIngredients() {
            $("#ingredients").
                append("<input type='text' name='Ingredients["+ ingredientIndex +"].Name' class='form-control'>");
            ingredientIndex++;
        }
    </script>
   
}

