.col-md-4 {
    padding-top: 36px;
}

form.row.md-3 {
    margin: 15px;
    border-top: 1px solid gray;
}

#ingredients {
    padding-bottom: 15px;
    padding-top: 30px;
}

.img-url {
    padding-bottom: 15px;
}

.button {
    background-color: #f0b828;
    border: 1px solid #f0b828;
}

.button:hover {
    background-color: #f8e2ab;
    border: 1px solid #f8e2ab;
    color: #f0b828;
    font-size: 1.1rem;
}

label {
    font-size: 18px;
    color: #f0b828;
}

#more-ingredients, #images {
    background-color: #f8e2ab;
    border: 1px solid #f8e2ab;
    color: #f0b828;
    font-size: 1.1rem;
}

#caregory {
    color: #f0b828;
    border-color: gray;
}

#more-ingredients:hover {
    background-color: #f0b828;
    border: 1px solid #f0b828;
    color: white;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #f0b828;
}

.box-shadow {
    padding: 15px;
    background-color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}