.image-url {
    height: 500px;
    object-fit: cover;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #f0b828;
}

.dish-name {
    position: absolute;
    z-index: 9999999;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 15%;
    justify-content: space-around;
    font-size: 2.85rem;
    color: #f8e2ab;
    background: rgba(0, 0, 0, 0.5);
}